body {
margin: 0;
font-family: Arial, sans-serif;
color: white;
}

.header {
display: flex;
align-items: center;
justify-content: space-between;
padding: 15px 20px;
background: rgba(0,0,0,0.7);
position: fixed;
width: 100%;
top: 0;
z-index: 10;
}

.left-area {
display: flex;
align-items: center;
gap: 30px;
}

.logo {
font-size: 24px;
font-weight: bold;
font-style: italic;
color: cornflowerblue;
}

.nav {
display: flex;
gap: 20px;
}

.nav a {
color: white;
text-decoration: none;
font-size: 16px;
}

.right-area {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 15px;
}
.search-box {
    padding: 6px 10px;
    border-radius: 4px;
    border: none;
    outline: none;
}
.signin-btn {
    background: white;
    color: black;
    padding: 8px 15px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-right: 15px;
}
.page {
    font-size: 24px;
    font-weight: bold;
    margin-top: 75px;
    color: black;
}

.hero {
height: 100vh;
background: url('https://wp-socialnation-assets.s3.ap-south-1.amazonaws.com/wp-content/uploads/2021/05/25185045/Money-Heist-1152x759.png') center/cover no-repeat;
display: flex;
flex-direction: column;
justify-content: center;
padding-left: 50px;
padding-top: 100px;
}

.hero2 {
height: 100vh;
background: url('"https://images2.alphacoders.com/134/1345084.jpeg"') center/cover no-repeat;
display: flex;
flex-direction: column;
justify-content: center;
padding-left: 50px;
padding-top: 100px;
}

.title {
font-size: 48px;
font-weight: bold;
margin-bottom: 20px;
}

.buttons {
display: flex;
gap: 15px;
}

.btn {
padding: 12px 25px;
border: none;
border-radius: 4px;
font-size: 18px;
cursor: pointer;
}


